{% extends 'base.html' %}
{% block title %}Edit Car Model | Car Manager{% endblock title %}
{% block content %}
<form action="" method="POST" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" enctype='multipart/form-data'>
{% csrf_token %}
<h2 class="w3-center">Editar - {{ car.modelo }}</h2>
 
<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"></div>
    <div class="w3-rest">
      {{ form.modelo.label }}
      {{ form.modelo }}
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"></div>
    <div class="w3-rest">
      <img src="{{ car.imagem.url }}" width="300">
      {{ form.imagem }}
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"></div>
    <div class="w3-rest">
      {{ form.kilometragem.label }}
      {{ form.kilometragem }}
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"></div>
    <div class="w3-rest">
      {{ form.ano_registo.label }}
      {{ form.ano_registo }}
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"></div>
    <div class="w3-rest">
      {{ form.nacional.label }}
      {{ form.nacional }}
    </div>
</div>

<p class="w3-center">
<button class="w3-button w3-section w3-blue w3-ripple"> Atualizar </button>
</p>
</form>
{% endblock content %}